body {
  background-color: rgb(244, 250, 250);
}
.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 1.2rem;
}
.light {
  background-color: lavenderblush;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
input {
  padding: 8px;
  width: 200px;
  margin: 5px;
}
button {
  background-color: bisque;
  padding: 8px;
  width: 80px;
  border: none;
  border-radius: 7px;
  margin: 5px;
}
form {
  height: 200px;
  background-color: #fff;
  width: 60vw;
  margin: auto;
}
.counter {
  width: 300px;
  height: 180px;
  background-color: rgb(255, 251, 235);
  margin: auto;
}
